@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
    font-family: poppins;
    padding: 0;
    margin: 0;
}

boby {
    display: grid;
    grid-template-areas: 
    "shotter"
    "intro"
    "main"
    "fotter"
    ;
}

shotter {
    grid-area: shotter;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
    opacity: 75%;
    justify-content: space-evenly;
}

#logo {
    width: 5rem;
}

nav ul {
    text-transform: uppercase;
    font-size: large;
    padding: 2rem;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

shotter .link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: #655B45;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5%;
}

shotter img {
    width: 2.5rem;
}

#intro {
    grid-area: intro;
    padding: 15rem;
    background-image: url(./img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "linhaUm"
        "linhaDois"
        "linhaTres"
        "linhaQuatro"
        ;
    background-color:#655B45;
}

.normal {
    display: grid;
    grid-template-areas:
    "figure tittle tittle"
    "figure text text"
    ;
    background-color: #ab9981;
}

#normalUm {
    grid-area: linhaUm;
}

#normalUm:hover {
    transform: scale(1.05);
    transition: 1s;
    border: 2px solid #FBF0E1;
}

#normalDois {
    grid-area: linhaTres;
}

#normalDois:hover {
    transform: scale(1.05);
    transition: 1s;
    border: 2px solid #FBF0E1;
}

h1 {
    font-family: courgette;
    font-size: 2.9rem;
    grid-area: tittle;
    text-align: center;
    padding-top: 1.5rem;
}

.normal div {
    display: flex;
    flex-direction: row;
    grid-area: text;
    text-align: center;
    width: 100%;
    justify-content: center;
}

li {
    list-style: none;
    padding: 1rem;
}

li:hover {
    color: white;
    transition: 1s;
}

.normal img {
    grid-area: figure;
    width: 70%;
    height: 25rem;
}

.reverse {
    display: grid;
    grid-template-areas:
    "tittle tittle figure"
    "text text figure"
    ;
    background-color: #655B45;
}

#reverseUm {
    grid-area: linhaDois;
}

#reverseUm:hover {
    transform: scale(1.05);
    transition: 1s;
    border: 2px solid #FBF0E1;
}

#reverseDois {
    grid-area: linhaQuatro;
}

#reverseDois:hover {
    transform: scale(1.05);
    transition: 1s;
    border: 2px solid #FBF0E1;
}

h1 {
    grid-area: tittle;
    text-align: center;
    font-weight: lighter;
    opacity: 50%;
}

.reverse div {
    display: flex;
    flex-direction: row;
    grid-area: text;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.reverse img {
    grid-area: figure;
    width: 70%;
    height: 25rem;
    justify-self: end;
}

sidebar {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 5rem;
    background-color:gray;
}

sidebar img {
    width: 20rem;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 12rem;
}

contato {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

#redes_sociais {
    display: flex;
    flex-direction: row;
}

contato p {
    letter-spacing: 0.2rem;
}

contato #insta {
    width: 3rem;
    padding: 1rem;
    align-items: center;
}

contato #face {
    width: 2.5rem;
    padding: 1rem;
    align-items: center;
}

contato a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}


iframe {
    width: 18rem;
    height: 10rem;
    padding: 1rem;
}